:root {
    --x: 200px;
    --y: 200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.box{
    width: 400px;
    height: 400px;
    background: radial-gradient(at var(--x) var(--y), yellow, red)
}